
:root{
    --main-color: #1b1811;
    --second-color: #edece6;
    --accent-color: #ff6961;
    --link-active-color: #ffa19a;
}

.darkModeToggle {
    width: 50px;
    height: 50px;

    position: fixed;
    right: 20px;
    bottom: 20px;
}

.darkModeToggle > input {
    height: 100%;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;

    background-color: #edece6;
    border: 2px solid #1b1811;
    border-radius: 50%;
}

.darkModeToggle > input:checked {
    background-color: #1b1811;
    border: 2px solid #edece6;
}

/*Commercial White #edece6*/
body {
    margin: 0px;
    font-family: Arial;
    text-align: center;
    color: var(--main-color);
    background-color: var(--second-color);
}

::-webkit-scrollbar {
    width: 16px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--second-color);
    border: 2px solid var(--main-color);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

::-webkit-scrollbar-corner{
    background-color: var(--main-color);
}

::-moz-selection { /* Code for Firefox */
    color: var(--accent-color);
    background: var(--main-color);
}
  
::selection {
    color: var(--accent-color);
    background: var(--main-color);
}

@keyframes Titel{
    0% {
        color: var(--main-color);
        letter-spacing: -20px;
    }

    50% {
        color: var(--accent-color);
    }

    100% {
        color: var(--second-color);
        letter-spacing: 15px;
    }
}

a{
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: var(--link-active-color);
}

/*Black Chocolate #1b1811 Cynical Black #171717 Night Slate Black #040707*/
h1 {
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--second-color);
    letter-spacing: 15px;
    background-color: var(--main-color);
    padding: 20px 0px;
    animation-name: Titel;
    animation-duration: 4s;
    font-size: 40px;
}

h2{
    font-size: 50px;
    font-family: monospace;
    border-bottom: var(--main-color) dashed 2px;
}

p{
    font-size: 20px;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.highlightText{
    color: var(--accent-color);
}

.animateBlackRed{
    color: var(--accent-color);
    animation: animateBlackRedFrames 1s ease-out infinite alternate;
}

@keyframes animateBlackRedFrames {
    0% { color: var(--main-color);
    }
    30% { text-shadow: var(--accent-color) 0px 0px 0px;
    }
    100% { color: var(--accent-color);
           text-shadow: var(--accent-color) 0px 0px 2.5px;
    }
}

.homeSectionTextContainer{
    text-align: start;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.greetingText{
    font-size: 70px;
    font-weight: 600;
    font-family: monospace;
    margin-bottom: 5px;
    margin-top: 0px;
}

.projectsButton{
    width: 250px;
    font-size: x-large;
    background-color: var(--accent-color);
    color: var(--second-color);
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0px;
    margin: 20px 0px 40px 0px;
    align-self: center;

    animation: buttonPop 2s 4.5s 1;
    animation-timing-function: ease-in-out;

    z-index: 1;
}

.projectsButton:hover{
    transform: scale(1.2);
    letter-spacing: 4px;
    box-shadow: var(--accent-color) 0px 0px 30px;
}

.projectsButton:active{
    transform: scale(1.1);
    letter-spacing: 2px;
    box-shadow: var(--accent-color) 0px 0px 25px;
}

@keyframes buttonPop{  
    30%{
        transform: scale(0.2);
        box-shadow: var(--accent-color) 0px 0px 30px;
        pointer-events: none;
    }
    37%{
        transform: scale(1.2) rotateZ(15deg);
        box-shadow: var(--accent-color) 0px 0px 50px;
    }
    60%{
        transform: rotateZ(360deg);
        box-shadow: var(--accent-color) 0px 0px 30px;
        pointer-events: none;
    }
}

.fiverrButton{
    font-size: x-large;
    background-color: #54ac68;
    color: var(--second-color);
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 40px;
    margin: 20px 0px 40px 0px;
    align-self: center;

    overflow: hidden;

    animation: fiverrButtonIn 0.7s 0s 1;
    animation-timing-function: ease-in-out;
}

.fiverrButton:hover{
    transform: scale(1.2);
    letter-spacing: 4px;
    box-shadow: #54ac68 0px 0px 30px;
}

.fiverrButton:active{
    transform: scale(1.1);
    letter-spacing: 2px;
    box-shadow: #54ac68 0px 0px 25px;
}

@keyframes fiverrButtonIn{  
    0%{
        height: 0px;
        transform: scale(0.2);
        box-shadow: #54ac68 0px 0px 30px;
    }
    70%{
        transform: scale(1.2);
        box-shadow: #54ac68 0px 0px 50px;
    }
    100%{
        height: 40px;
        transform: scale(1);
        box-shadow: #54ac68 0px 0px 0px;
    }
}

.CVButton{
    width: 250px;
    font-size: x-large;
    background-color: var(--accent-color);
    color: var(--second-color);
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0px;
    margin: 20px 0px 40px 0px;
    align-self: center;

    animation-timing-function: ease-in-out;

    z-index: 1;
}

.CVButton:hover{
    transform: scale(1.2);
    letter-spacing: 4px;
    box-shadow: var(--accent-color) 0px 0px 30px;
}

.CVButton:active{
    transform: scale(1.1);
    letter-spacing: 2px;
    box-shadow: var(--accent-color) 0px 0px 25px;
}

img{
    -webkit-user-drag: none;
    transition: all 0.4s ease-in-out;
}

.imageFrame {
    margin-top: 40px;
    max-width: 340px;
    max-height: 600px;
    min-height: 270px;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;

    transform: translate(0px, 0px);

    box-shadow: var(--accent-color) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 40px 50px, rgba(0, 0, 0, 1) 0px 0px 20px;

    transition: all 0.4s ease-in-out;
    animation: projectsAnimIn 0.5s ease-in-out 0s 1;
    margin: 20px;
}

.noAnim{
    animation: none;
}

.homeProfileImgFrame{
    background-color: var(--main-color); 
    overflow: visible;
}

@keyframes projectsAnimIn{
    0%{
        transform: scale(0.1);
        opacity: 0%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}

.makeInvis{
    display: none;
}

.imageFrame:hover {
    /*Oder scale 1.2*/
    transform: translateY(-10px);
    box-shadow: var(--accent-color) 0px 0px 0px 10px, rgba(0, 0, 0, 0.7) 0px 40px 50px, rgba(0, 0, 0, 1) 0px 0px 20px;
}

.imageFrame:hover .projectInfo{
    opacity: 95%;
    height: 250px;
}

.imageFrame:hover .projectImg{
    filter: grayscale(100);
}

.projectImg{
    width: 100%;
    height: 100%;
}

.flexImgContainer {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.projectsFlexImgContainer{
    margin-top: 20px;
}

.tags{
    display: none;
}

.projectsSectionText{
    text-align: center; 
    width: 70%; 
    margin: auto;
}

.aboutSectionText{
    text-align: justify; 
    width: 70%; 
    margin: auto;
}

.contactSectionText{
    text-align: justify; 
    width: 70%; 
    margin: auto;
}

.filterButton{
    border: var(--main-color) solid 1px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: 18px;
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;
    margin: 15px;
}

.filterButton:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--second-color);
}

.filterButton:active{
    background-color:  var(--accent-color);
    border-color: var(--accent-color);
    color: var(--second-color);
}

.pressed{
    background-color:  var(--accent-color);
    border-color: var(--accent-color);
    color: var(--second-color);
}

.projectInfo{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    bottom: 0px;

    height: 0px;
    width: 100%;
    background-color: var(--second-color);
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;

    opacity: 0%;
    transition: all 0.4s ease-in-out;
    min-height: 0px;
    font-size: 15px;
}

.projectInfoDescription{
    margin: 0px;
    padding: 0px;
    align-self: center;
    width: 90%;
    color: var(--main-color);
    font-size: 15px;
}

.projectInfo button{
    width: 60%; 
    height: 15%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: var(--main-color) solid 2px;
    color: var(--main-color);
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projectInfo button:disabled{
    border: var(--accent-color) solid 2px;
    text-decoration-color: var(--accent-color);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: var(--accent-color);
    cursor: not-allowed;
}

.projectInfo button:disabled::after{
    content: " is Private";
}

.projectInfo button:disabled:hover{
    letter-spacing: normal;
    font-weight: normal;
    background-color:  var(--accent-color);
}

.projectInfo button:hover{
    background-color: var(--main-color);
    color: var(--second-color);
    letter-spacing: 2px;
    font-weight: bold;
}

.projectInfo button:active{
    letter-spacing: 1px;
}

.profilePic{
    height: 105%;
    width: 105%;
    transform: translateY(-35px) translateX(15px);
}

@keyframes circleIn {
    from {
        height: 20px;
        width: 20px;
    }

    to {
        height: 150px;
        width: 150px;
    }
}

.circleFrame {
    border-color: var(--main-color);
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    animation: circleIn 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0%) 0px 0px 0px 10px, rgba(0, 0, 0, 20%) 0px 0px 50px 15px;
}

.circleFrame:hover {
    /*border-color: var(--accent-color);
     border-width: 10px;
    margin-bottom: 1px;
    margin-top: 1px;*/
    box-shadow: var(--main-color) 0px 0px 0px 10px, var(--main-color) 0px 0px 50px 15px;
    border-color: var(--main-color);
}

.active {
    border-color: rgba(0, 0, 0, 0%);
    box-shadow: none;
}

.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--second-color);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    position: sticky;
    top: 5px;
    z-index: 3;
    padding: 0;
}

.navBarActive{
    transform: translateX(-100%);
}

.navBarItem {
    width: 20%;
    margin: 0px;
    font-size: 22px;
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    padding: 5px 0px;
}

.navBarItem:hover {
     background-color: var(--main-color);
     color: var(--second-color);
     letter-spacing: 5px;
}

.blackOverlay{
    position: fixed;
    z-index: 2; 
    pointer-events: none;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0%);
    transition: all 0.4s ease-in-out;
}

.blackOverlayShow{
    background-color: rgba(0, 0, 0, 40%);
    pointer-events: all;
}

.socialMediaContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.socialMedia{
    height: 200px;
    width: 200px;
    max-height: 200px; 
    max-width: 200px;
    margin: 10px;
    fill: var(--main-color);
    transition: all 0.4s ease-in-out;
    /*filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 100%));*/
}

.socialMedia:hover{
    transform: scale(1.2) rotateZ(20deg);
}

.spawnCircleButton{
    right: 5%;
    bottom: 5%;
    width: 200px;
    height: 5%;
    font-size: x-large;
    background-color: var(--main-color);
    color: white;
    border: none;
    transition: all 0.4s ease-in-out;
}

.spawnCircleButton:hover{
    transform: scale(1.2);
}

.greyIconsContainer{
    display: flex; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.greyIconsContainerProject{
    display: flex; 
    justify-content: space-evenly;
}

.greyIconContainer{
    position: relative;
}

.greyIcon{
    filter: grayscale(100);
    transition: all 0.3s ease-in-out;
    cursor: crosshair;
}

.greyIconSmall{
    margin: 0px;
    height: 40px;
    width: 40px;
}

.greyIcon:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}

.greyIcon:hover + .popupText{
    opacity: 100%;
    transform: translate(-50%, -110%);
}

.popupText{
    min-width: 200px;
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translate(-50%, -90%);
    opacity: 0%;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.popupText::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -5px;
    border-width: 15px;
    transform: translate(-25%, 0);
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
    pointer-events: none;
}

.skillIconTitel{
    font-weight: bold; 
    margin-top: 10px;
}

.burger{
    display: none;
}

.burgerLine1{
    height: 20%;
    background-color: var(--main-color);
    border:var(--second-color) solid 1px;
    transition: all 0.3s ease-in-out;
}

.burgerLine2{  
    height: 20%;
    background-color: var(--main-color);
    border:var(--second-color) solid 1px;
    transition: all 0.2s ease-in-out;
}

.burgerLine3{
    height: 20%;
    background-color: var(--main-color);
    border: var(--second-color) solid 1px;
    transition: all 0.4s ease-in-out;
}

.toggle .burgerLine1{
    transform: rotate(-45deg) translate(-15px, 15px);
    border: none;
}

.toggle .burgerLine2{
    opacity: 0%;
    height: 0%;
    transform: translateX(80px);
    border: none;
}

.toggle .burgerLine3{/*45*/
    transform: rotate(405deg) translate(-7px,-7px);
    border: none;
}

.jobText{
    white-space: normal;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0px;
    background-color: var(--main-color);
    margin-top: 50px;
}

.footerText{
    color: var(--second-color);
    text-align: center; 
    width: 70%; 
    margin: auto;
    font-size: 13px;
}

@media screen and (max-width: 800px)
{

}

@media screen and (max-width: 600px)
{
    .jobText{
        white-space: pre;
    }

    .burger{
        position: fixed;
        top: 20px;
        right: 20px;
        height: 40px;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
        cursor: pointer;
    }

    .navBar{
        width: 45%;
        height: 100%;
        flex-direction: column;
        border: none;
        border-left: 4px solid var(--main-color);
        position: fixed;
        top: 0;
        left: 100%;
        align-items: center;
        transition: all 0.3s ease-out;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .navBarItem{
        width: 100%;
        font-size: 25px;
        padding: 15px 0px;
    }

    .greyIconBig{
        margin: 0px 30px;
    }

    .popupText{
        min-width: 130px;
    }

    .homeSectionText{
        min-height: 230px;
    }

    h1{
        padding: 10px 0px;
    }

    .profilePic{
        transform: translateY(0px) translateX(0px);
        height: 100%;
        width: 100%;
    }
}

